body{
    margin: 0;
    background-color: #333;
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
}

.calculator{
    background-color: #181111;
    width: 30%;
    border-radius: 1.3em; 
    max-height: 100vh;
   padding: 1.5em;
   border: none;
}

.screen{ 
    height: 5em;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    border: none;
}

.screen::selection {
    user-select: none;
}

.screen:focus{
    outline: none;
    border: none;
}

.numbers{
    height: 50px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex: 1;
}

.row{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 15px;
}

.equal{
    flex: 25.5%;
    background-color: #3A68C5;
    height: 50px;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.operator{
    background-color: #E1AE26;
    height: 50px;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex: 1;
}

.screen{
    color: #000;
    font-family: monospace;
    font-size: 30px;
} 